
<!-- Drinks being created here aren't taking in drink attributes -->

<%= form_for [current_user, @drink] do |f| %>

<div class="input_fields">
Beers: <%= f.collection_select :user_drink_ids, Drink.all, :id, :drink_name %>
</div>

<div class="input_buttons">
<%= f.submit "I'm Drankin'!", class: "large button expand radius round [secondary success alert]" %>
</div>

<% end %>